.comments-rating {
  border: none;
  padding: 0;
  margin-left: 0;
}
.comments-rating label {
  display: inline-block;
}
.rating-container {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating-container * {
  font-size: 1.4rem;
}
.rating-container>input {
  display: none;
}
.rating-container>input+label {
  /* only enough room for the star */
  font-family: 'dashicons';
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
}
.rating-container>input+label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "\f154";
  color: #e5bb22;
}
.rating-container>input:checked~label:before,
.rating-container>input+label:hover~label:before,
.rating-container>input+label:hover:before {
  content: "\f155";
  color: #F8C301;
  text-shadow: 0 0 1px #333;
}
.rating-container>.star-cb-clear+label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.rating-container>.star-cb-clear+label:before {
  width: .5em;
}
.rating-container:hover>input+label:before {
  content: "\f154";
  color: #e5bb22;
  text-shadow: none;
}
.rating-container:hover>input+label:hover~label:before,
.rating-container:hover>input+label:hover:before {
  content: "\f155";
  color: #F8C301;
  text-shadow: 0 0 1px #333;
}
.comment-respond .rating-container>.star-cb-clear+label,
.comment-respond .rating-container>input+label:before {
  text-indent: 9999px;
}
.comment-respond .rating-container>input+label {
  text-indent: -9999px;
}
.stars .dashicons {
  color: #F8C301;
}
p.average-rating .dashicons {
  color: #F8C301;
}
p.average-rating {
  font-size: 17px;
  margin-bottom: 0;
}
averageSpan {
  margin-left: 5px;
  display: inline-block;
}